<mat-toolbar color="primary">
  <span class="fill-remaining-space">Application Title</span>
  <!-- <span class="fill-remaining-space"> -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <!-- <button mat-menu-item>
      <mat-icon>people_outline</mat-icon>
      <span>Connecting</span>
    </button>
    <button mat-menu-item>
      <mat-icon>videocam</mat-icon>
      <span>Let's talk</span>
    </button> -->
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <!-- </span> -->
</mat-toolbar>
